@using ReportViewerForMvc;
@using Datos;
@model List<Gestion>
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reporte De Periodo</title>

</head>
<body>
    <div style="text-align:right; padding:50px;">
        @Html.ReportViewer(ViewBag.ReporteGestion as Microsoft.Reporting.WebForms.ReportViewer, new { style = "width: 1090px; height:900px;border:none; " })
    </div>
</body>
</html>







